<template id="input-sshkey-template">
<label for="host">Hostname:</label><br/>
<input type="text" name="host" value=""><br/>
<label for="hash">Key:</label><br/>
<style>
textarea {
    width: 400px;
    height: 150px;
}
</style>
<textarea name="hash"></textarea>
</template>
<script>
(function() {
var importDoc = document.currentScript.ownerDocument;
var InputSshKeyProto = Object.create(HTMLElement.prototype);

InputSshKeyProto.createdCallback = function() {
    var t = importDoc.querySelector('#input-sshkey-template');
    var clone = importDoc.importNode(t.content, true);
    var root = this.createShadowRoot();
    root.appendChild(clone);
    this.host = $(root).children('input[name=host]');
    this.hash = $(root).children('textarea[name=hash]');

    var connectAttrToVal = function(src, attr, dst) {
        var attr_val = src.attr(attr);
        if (typeof attr_val !== typeof undefined && attr_val !== false) {
            dst.val(attr_val);
        }
        dst.change(function() {
            src.attr(attr, dst.val());
        });
    };

    connectAttrToVal($(this), 'host', this.host);
    connectAttrToVal($(this), 'hash', this.hash);

    $(this).on("reset", function() {
        $(this).attr("host", "");
        $(this).attr("hash", "");
    });
};

InputSshKeyProto.attributeChangedCallback = function(attr, oldVal, newVal) {
    if (attr == 'host') {
        this.host.val(newVal);
    } else if (attr == 'hash') {
        this.hash.val(newVal);
    }
};

document.registerElement('input-sshkey', {prototype: InputSshKeyProto});
})();
</script>
